[Unit]
Description=SingBox
Documentation=https://github.com/getlantern/sing-box
After=lantern-server-manager.service
Requires=lantern-server-manager.service

[Service]
User=root
ExecStart=/usr/local/bin/sing-box run --config /opt/lantern/data/sing-box-config.json
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
StandardOutput=journal+console
StandardError=journal+console
[Install]
WantedBy=multi-user.target